.answer-tweet-form{
    padding: 1.5rem 1.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid #ebeef0 ;
}

.answer-tweet-form label{
    display: flex;
    align-items: center;
    flex: 1;
    gap:0.75rem;
}

.answer-tweet-form label img{
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
}

.answer-tweet-form label textarea{
    flex: 1;
    border: 0;
    font-size: 1.25rem;
    font-weight: 500;
    resize: none;

    margin-top: 1.25rem;

}
.answer-tweet-form label textarea:focus{
    outline: none;
}

.answer-tweet-form label textarea::placeholder{
    color: #5b7083;
}

.answer-tweet-form button{
    margin-left: auto;
    background: var(--twitter-blue);
    border-radius: 9999px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 900;
    color: #fff;
    border: 0;
}
.answer-tweet-form button:hover{
    filter: brightness(0.9);
}

.answer-tweet-form button svg{
    width: 1.5rem;
    height: 1.5rem;
    display: none;
}

@media (max-width: 780px){
    .answer-tweet-form label textarea{
        font-size: 1rem;
    }

    .answer-tweet-form button{
        padding: 0.75rem;
    }
    .answer-tweet-form button svg{
        display: block;
    }
    .answer-tweet-form button span{
        display: none;
    }
}